# plain rsync command
# can be, for example
# 	rsync
# or
#	rsync -e "ssh -i key_file"
# or
#	somthing else
rsync_command() {
	rsync "$@"
}

#path to ssh control file, usually default value good enought
SSH_CTL=$dir/.seats/.locks/ssh-$wd

#daemonized rsync/ssh stuff for instant sync on file change
# sync command, used perpared ssh connection
instant_sync() {
	echo rsync -e "ssh -S $SSH_CTL" "$@" 
	rsync -e "ssh -S $SSH_CTL" "$@"
}

#path to remote folder
remote_host=host
remote_path=/var/www/html

sync_timeout=10
